.cat-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    cursor: pointer; /* Добавляем свойство для изменения курсора при наведении */
  }
  
  .add-cat-text {
    position: absolute;
    right: 16px;
    font-weight: bold;
    cursor: pointer; 
  }
  
  .mat-toolbar {
    background-color: black;
    display: flex;
    justify-content: center;
  }